body {
    background-color: #F7F9FF;
}

.main {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /* grid-column-gap: 1em; */
}

.left, .middle, .right {
    /* background-color: beige; */
}

.middle {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.todo-main {
    /* display: grid; */
    margin: 10px;

}

.add-todo {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 15px;
}

.task {
    /* margin-top: 5px; */
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 90% 5% 5%;
}

.task-checked {
    text-decoration: line-through;
    color: #757474;
}

/*
-----------------------------
FOR MOBILE AND SMALL SCREENS
delete if bugs are present
-----------------------------
*/

@media only screen and (max-width: 768px) {
    .main{
        grid-template-columns: 0% 100% 0%;
    }
}